:root {
    --primaryColor: #00838F;
    --primaryLightColor: #4FB3BF;
    --primaryDarkColor: #005662;

    --secondaryColor: #FBC02D;
    --secondaryLightColor: #FFF263;
    --secondaryDarkColor: #C49000;

    --classicColorDark: #414141;
    --classicColorGrey: #606267;
    --classicColorLight: #ECECEC;
    --classicColorWhite: #FFFFFF;

    --colorButtonDisabled: #ececec;
    --colorButtonInformation: #4FB3BF;
    --colorButtonDanger: #fb3939;
    --colorButtonAlert: #fac02e;
    --colorButtonValidate: #b0d41c;
}

main{
    min-height: 80vh;
}

h3{
    padding: 1em 0;
}

h1{
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2{
    font-size: 1.4rem;
    padding: 0.5rem 0;
}
.rating span{
    margin: 0.1rem;
}
